@charset "UTF-8";
/* Overall */
*{
	margin:0;
	padding:0;
	border:0;
}

#skip a
{
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}

#skip a:focus
{
position:static;
width:auto;
height:auto;
}
body{
	background-image:url(../images/alterbackground.jpeg);
	background-color: #E0EEEE;
	color:#2d2d2d;
}

.wrapper{
	margin:auto;
	width:80%;
	height:auto;
}

.clearfix {
	float: none;
	clear: both;
}

footer{
	width:100%;
	padding:10px 0;
	background-color:#2d2d2d;
}
/* slides */
#slideshow{
	width:100%;
	margin-top:2%;
}

.html_carousel {
}
.html_carousel div.slide {
	position: relative;
}
.html_carousel div.slide img {
	width: 100%;
	height: auto;
	-webkit-box-shadow: 0 1px 1px #c1c1c1;
    -moz-box-shadow: 0 1px 1px #c1c1c1;
    box-shadow: 0 1px 1px #c1c1c1;
	border-radius:15px;
}
/* tops and navigation */
#top{
	height:40px;
}

#logo{
	margin-top:5%;
	text-decoration:none;
}

#logoimage{
	width:27px;
	padding-right:10px;
	float:left;
}

#logotitle{
	float:left;
	font-family:Cookie, Helvetica, sans-serif;
	font-weight:normal;
	font-size:215%;
	text-shadow: 0 1px 1px #FFF;
}

#workbody img{
	width:90%;
	border-radius:15px;
	float: right;
}

#workbody2 img{
	width:90%;
	border-radius:15px;
	float: right;
}

nav{
	float:right;
	width:600px;
	display:block;
	height:40px;
}

nav ul li{
	display:block;
	width:20%;
	float:left;
	text-align:center;
}

nav ul li a{
	font-family:Lato, Helvetica, Arial, sans-serif;
	font-size: 15px;
	width:90%;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:400;
	line-height:250%;
	display:block;
	color:#2d2d2d;
}

nav ul li a:hover{
	color:#f38094;
}

nav li a.current{
   color: #ffffff;
   background:#f38094;
	 font-weight: bold;
}

nav ul li p{
	font-family:Lato, Helvetica, Arial, sans-serif;
	width:90%;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:400;
	line-height:250%;
	display:block;
	color:#f38094;
}

hr{
	height:1px;
	width:100%;
	background-color:#2d2d2d;
	margin:3% 0;
}

/* Header */
header{
	width:80%;
	margin:auto;
}

header h1{
	font-family: Lato, Arial, Helvetica, sans-serif;
	text-align:center;
	font-size:140%;
	font-weight:normal;
	letter-spacing:1px;
	margin-bottom:1%;
}

header h1 span{
	color:#f38094;
	text-shadow: 0 1px 1px #dadada;
}

header h2{
	text-align: center;
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:normal;
}

.left{
	margin-top:4%;
	width:48%;
	float:left;
	margin-bottom:2%;
}

.left1{
	margin-top:4%;
	margin-left: 5%;
	width:40%;
	float:left;
	margin-bottom:2%;
}

.left p{
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:140%;
}

.left p a{
	color:#f38094;
	text-decoration:none;
}

.right{
	margin-top:4%;
	width:48%;
	float:right;
	margin-bottom:2%;
}

.right h2{
	font-family:Cookie, Arial, Helvetica, sans-serif;
	font-size:180%;
	font-weight:normal;
	text-align:center;
	color:#f38094;
	margin-bottom:5%;
	text-shadow: 0 1px 1px #dadada;
}

.right p{
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:100%;
	line-height:140%;
}

.right p a{
	color:#f38094;
	text-decoration:none;
}

.flip-card {
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

#accordion h3{
	display: block;
	margin: auto;
	width: 80%;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family:Lato, Arial, Helvetica, sans-serif;
	color: #000;
	text-align: center;
}
#accordion h3:hover{
	background-color: #f38094;
	color: white;
	cursor: pointer;
}


#accordion p{
	padding: 10px;
	margin: auto;
	width: 70%;
	text-align: center;
}

/* Bottom and Contact*/
#bottom h3{
	margin:4% 0 3% 0;
	font-family:Cookie, Arial, Helvetica, sans-serif;
	font-size:120%;
	font-weight:normal;
	text-align:center;
	color:#f38094;
	text-shadow: 0 1px 1px #c1c1c1;
}

.social{
	color:#f38094;
	text-align: right;
}

#formwrap{
	width:100%;
}

input:focus, input.focused, textarea:focus, textarea.focused {  color: #3e3e3e; opacity:1;}
#error{
	color:#FF7471;
	float:left;
	font-family:Regular, Arial, Helvetica, sans-serif, "Helvetica Neue Light";
	font-size:15px;
}

#error ul{
	list-style-type: none;
	padding-top:5px;
}

.formstyle {
	border: 1px solid #ccc;
	color: #000;
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:14px;
	width: 95%;
	background-color: white;
	margin-bottom:10px;
	opacity:0.9;
	padding:3px;
	-webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
   border-radius:2px;
}

.formstyletwo {
	color: #FFF;
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:15px;
	text-align:left;
	width:20%;
	background-color:#2d2d2d;
	border:0px;

}

.formstyletwo:hover {
	color:#f38094;
	cursor:pointer;

}

label{
	color: white;
	font-size: 90%;
}

.icon{
	float:right;
	width:32px;
	margin:95px 0 2px 4%;
	opacity:0.85;
}

.icon:hover{
	opacity:1;
}

h4{
	font-family:Cookie, Arial, Helvetica, sans-serif;
	font-size:180%;
	font-weight:normal;
	color:#f38094;
	margin-bottom:10px;
}

/* items */
.item{
	border-radius:15px;
	width:220px;
	height:222px;
	background-color:#FFF;
	margin:10px;
	float:left;
	-webkit-box-shadow: 0 1px 3px #c3c3c3;
    -moz-box-shadow: 0 1px 3px #c3c3c3;
    box-shadow: 0 1px 3px #c3c3c3;
	overflow:hidden;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	-o-transition: box-shadow 0.2s ease-in-out;
	-ms-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

.item:hover{
	-webkit-box-shadow: 0 0 8px #f38094, 0 0 8px #f38094;
    -moz-box-shadow: 0 0 8px #f38094,  0 0 8px #f38094;
    box-shadow: 0 0 8px #f38094,  0 0 8px #f38094;
}


.item img{
	display:block;
	width:100%;
	-webkit-box-shadow: 0 2px 1px #c3c3c3;
    -moz-box-shadow: 0 2px 1px #c3c3c3;
    box-shadow: 0 2px 1px #c3c3c3;
	border-radius:15px 15px 0 0;
	opacity:0.8;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	-ms-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;

}

.item img:hover{
	opacity:1;
}


.item h3{
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:105%;
	font-weight:normal;
	padding:5px 0 0 8px;
	color:#2d2d2d;
	text-decoration:none;
}

.item h3 a{
	text-decoration:none;
	color:#2d2d2d;
}

.item p{
	font-family:Lato, Arial, Helvetica, sans-serif;
	font-size:70%;
	font-weight:normal;
	padding:0 0 0 8px;
	color:#000000;
	text-decoration:none;
}


::selection      { background:#f38094; color:#FFF;}
::-moz-selection  { background:#f38094; color:#FFF;}


/* grid */

.item_content_four {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width:800px;
	height:200px;
	margin:5px auto;
}

h3.in_grid{
	margin: 60px;
	font-size: 26px;
	font-weight: bold;
	font-family: Lato, Arial, Helvetica, sans-serif;
	color:#f38094;
	text-shadow: 0 1px 1px #dadada;
	text-align:center;
	font-weight:normal;
}

.item_content_three {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width:580px;
	height:400px;
	margin:5px auto;
}

.grid-item {
	width:180px;
	height:162px;
	text-align:center;
	cursor:pointer;
	background:#ffffff;
	border-radius:6px;
	border:2px solid #f38094;
}
.grid-item img {
	width:180px;
	height:135px;
	border-radius:6px;
}

.grid-item p{
	font-size: 120%;
	font-family: Cookie, Arial, Helvetica, sans-serif;
	text-align:center;
	font-weight:normal;
}

.grid-para {
	width:180px;
	height:162px;
	text-align:center;
	border-radius:6px;
	border:2px solid #f38094;
}
.grid-para p {
	margin: 20px;
	font-size: 18px;
	font-family: Lato, Arial, Helvetica, sans-serif;
	text-align:center;
	font-weight:normal;
}



/* lightbox */
.lb-loader,.lightbox{
  text-align:center;
  line-height:0
}
.lb-dataContainer:after,.lb-outerContainer:after{
  content:"";
  clear:both
}
html.lb-disable-scrolling{
  overflow:hidden;
  position:fixed;
  height:100vh;
  width:100vw
}
.lightboxOverlay{
  position:absolute;
	top:0;
	left:0;
	z-index:9999;
	background-color:#000;
	filter:alpha(Opacity=80);
	opacity:.8;
	display:none
}
.lightbox{
  position:absolute;
	left:0;
	width:100%;
	z-index:10000;
	font-weight:400
}
.lightbox .lb-image{
  display:block;
	height:auto;
	max-width:inherit;
	max-height:none;
	border-radius:3px;
	border:4px solid #fff
}
.lightbox a img{
  border:none
}
.lb-outerContainer{
  position:relative;width:250px;height:250px;margin:0 auto;border-radius:4px;background-color:#fff
}
.lb-loader,.lb-nav{
  position:absolute;left:0
}
.lb-outerContainer:after{
  display:table
}
.lb-loader{
  top:43%;height:25%;width:100%
}
.lb-cancel{
  display:block;width:32px;height:32px;margin:0 auto;background:url(../images/loading.gif) no-repeat
}
.lb-nav{
  top:0;height:100%;width:100%;z-index:10
}
.lb-container>.nav{
  left:0
}
.lb-nav a{
  outline:0;
	background-color: grey;
	background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)
}
.lb-next,.lb-prev{
  height:100%;cursor:pointer;display:block
}
.lb-nav a.lb-prev{
  width:34%;left:0;float:left;background:url(../images/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s
}
.lb-nav a.lb-prev:hover{
  filter:alpha(Opacity=100);opacity:1
}
.lb-nav a.lb-next{
  width:64%;right:0;float:right;background:url(../images/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s
}
.lb-nav a.lb-next:hover{
  filter:alpha(Opacity=100);opacity:1
}
.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;border-bottom-left-radius:4px;border-bottom-right-radius:4px
}
.lb-dataContainer:after{
  display:table
}
.lb-data{
  padding:0 4px;color:#ccc
}
.lb-data .lb-details{
  width:85%;float:left;text-align:left;line-height:1.1em
}
.lb-data .lb-caption{
  font-size:13px;font-weight:700;line-height:1em
}
.lb-data .lb-caption a{
  color:#4ae
}
.lb-data .lb-number{
  display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999
}
.lb-data .lb-close{
  display:block;float:right;width:30px;height:30px;background:url(../images/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s
}
.lb-data .lb-close:hover{
  cursor:pointer;filter:alpha(Opacity=100);opacity:1
}

/* Responsive */
@media only screen and (max-width: 1279px) {
	.wrapper{
		width:90%;
	}

}

@media only screen and (max-width: 1105px) {
	.item{
		width:164px;
		height:170px;
		margin:8px;
	}
}

@media only screen and (max-width: 999px) {
	.right p{
		font-size: 90%;
	}
	.item{
		width:136px;
		height:144px;
		margin:7px;
	}
	.item h3{
		font-size:90%;
	}
	.item p{
		font-size:60%;
	}

	.item_content_three{
		width:520px;
		height:360px;
	}
	.item_content_four {
		width:717px;
		height:180px;
		margin:5px auto;
	}
	.grid-item{
		width:162px;
		height:146px;
	}
	.grid-para{
		width:162px;
		height:146px;
	}
	.grid-para p{
		font-size: 90%;
	}
	.grid-item img{
		width:162px;
		height:122px;
	}
	h3.in_grid{
		margin: 60px;
		font-size: 20px;
	}
}

@media only screen and (max-width: 860px) {
	header h2{
		font-size:16px;
	}
	.right p{
		font-size: 80%;
	}
}

@media only screen and (max-width: 835px) {
	.item_content_three{
		width:460px;
		height:320px;
	}
	.item_content_four {
		width:634px;
		height:155px;
		margin:5px auto;
	}
	.grid-item{
		width:144px;
		height:130px;
	}
	.grid-para{
		width:144px;
		height:130px;
	}
	.grid-para p{
		font-size: 80%;
	}
	.grid-item img{
		width:144px;
		height:108px;
	}
	h3.in_grid{
		margin: 60px;
		font-size: 16px;
	}
}


@media only screen and (max-width: 720px) {
	#logo{
		width:250px;
		display:block;
		margin:auto;
		margin-bottom:5%;
	}
	#logotitle{
		font-size:200%;
	}

	nav{
		width:100%;
	}
	nav ul li a{
		font-size: 60%;
	}
	header h1{
		font-size:110%;
		margin-bottom:5%;
	}
	header h2{
		font-size:90%;
	}
	.left{
		width:100%;
	}
	.right{
		width:100%;
	}
	.left1{
		width:80%;
	}
	.item{
		width:210px;
		height:215px;
		margin:10px;
	}
	.item h3{
		font-size:130%;
	}
	.item p{
		font-size:90%;
	}
	.item_content_three{
		grid-template-columns: 1fr 1fr;
		width: 400px;
		height: 660px;
	}
	.item_content_four {
		grid-template-columns: 1fr 1fr;
		width:400px;
		height:400px;
		margin:5px auto;
	}
	.grid-item{
		width:180px;
		height:162px;
	}
	.grid-para{
		width:180px;
		height:162px;
	}
	.grid-para p{
		font-size: 80%;
	}
	.grid-item img{
		width:180px;
		height:135px;
	}
}

@media only screen and (max-width: 510px) {
	.item{
		width:136px;
		height:140px;
		margin:7px;
	}
	nav ul li{
		width:33.3%;
	}
	nav ul li a{
		font-size: 40%;
	}
	.item h3{
		font-size:75%;
	}

	.item p{
		font-size:40%;
	}
	.item_content_three{
		width: 320px;
		height: 528px;
	}
	.item_content_four {
		width:320px;
		height:320px;
		margin:5px auto;
	}
	.grid-item{
		width:144px;
		height:130px;
	}
	h3.in_grid{
		margin: 50px;
	}
	.grid-para{
		width:144px;
		height:130px;
	}
	.grid-para p{
		font-size: 80%;
	}
	.grid-item img{
		width:144px;
		height:108px;
	}
}

@media only screen and (max-width: 360px){
	.item_content_three{
		width: 280px;
		height: 462px;
	}
	.item_content_four {
		width:280px;
		height:280px;
		margin:5px auto;
	}
	.grid-item{
		width:126px;
		height:114px;
	}
	.grid-para{
		width:126px;
		height:114px;
	}
	.grid-para p{
		font-size: 80%;
	}
	.grid-item img{
		width:126px;
		height:95px;
	}
	h3.in_grid{
		margin: 40px;
	}
}

@media only screen and (max-width: 300px){
	.item_content_three{
		width: 240px;
		height: 396px;
	}
	.item_content_four {
		width:240px;
		height:240px;
		margin:5px auto;
	}
	.grid-item{
		width:108px;
		height:97px;
	}
	.grid-para{
		width:108px;
		height:97px;
	}
	.grid-para p{
		font-size: 80%;
	}
	.grid-item img{
		width:108px;
		height:81px;
	}
	.grid-item p{
		font-size: 80%;
	}
	h3.in_grid{
		margin: 30px;
	}
}
@media only screen and (orientation: landscape) {
    body {
		background-image:url(../images/backgroundtexture.png);
		background-color:#f9f9f9;
    }
}
